.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background: #000;
  color: #fff;
  overflow-x: hidden;
  padding-top: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: width 0.3s ease-in-out;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.sidebar-list-container {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.sidebar li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  width: 100%;
  padding: 15px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  font-size: large;
}

.sidebar li:hover, .sidebar li.active {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.sidebar li.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background: #fff;
}

.sidebar li i {
  margin-right: 10px;
  font-size: 1.2rem;
}

.sidebar li span {
  flex: 1;
}

.sidebar img {
  width: 100%;
  height: auto;
  margin-top: -20px;
  margin-left: 0px;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.3));
  border-radius: 10px;
}

.sidebar-logo {
  width: 50px;
  height: auto;
  margin: 20px;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.3));
  border-radius: 10px;
}

.sidebar li:hover::before, .sidebar li.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background: #fff;
}

.sidebar li:hover i, .sidebar li.active i {
  color: #fff;
}

.sidebar li:hover span, .sidebar li.active span {
  color: #fff;
}

.sidebar li a {
  display: block;
  width: 100%;
  height: 100%;
}